<html>
 <head>
   <meta charset="utf-8">
     <title> Thermostat 2.0 </title>
   </head>
  <body>
    <img src='http://icedtea.classpath.org/thermostat/img/thermostat_logo_450px.png'>
    <h2> Version 2.0 </h2>
  <p>
     Current temperature: <span id="current-temperature">degrees</span>
     <br>
      <button class="temperature-change" data-direction="up">+</button>
      <button class="temperature-change" data-direction="down">-</button>
      <button id="temperature-reset">reset</button>
     <br>
     <br>
      Power saving mode is <span id="power-saving-status">on</span>
      <br>
      <button id="powersaving-on">PSM on</button>
      <button id="powersaving-off">PSM off</button>
      <br>
      <br>
      Current energy usage level: <span id="energy-usage"></span>
    </p>
  </section>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../src/thermostat.js"></script>
  <script src="../src/interface.js"></script>
</body>
</html>
