<html>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
 <head>
   <link rel="stylesheet" type="text/css" href="stylesheet.css">
   <meta charset="utf-8">
     <title> Thermostat 2.0 </title>
   </head>
  <body>
    <div id="border">
    <img src='http://icedtea.classpath.org/thermostat/img/thermostat_logo_450px.png'>
    <div id="title">
    <h3> Version 2.0 </h3>
  </div>
  <p>
     <h2><span id="current-temperature"></span>˚C</h2>
      <button class="temperature-down">-</button>
      <button href="#" class="temperature-up">+</button>
      <button class="temperature-reset">reset</button>
     <br>
     <br>
      Power saving mode: <span id="power-saving-status">ON</span>
      <br>
      <!-- <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitc" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label> -->

      <button id="powersaving-on">PSM on</button>
      <button id="powersaving-off">PSM off</button>
      <br>
      <br>
      Current energy usage level: <span id="energy-usage"></span>
    </p>
  </section>
  <br>
  <table id="weather" style="width: 30%">
    <div id="header">
      <strong>Weather in your city</strong>
    </div>
      <p>
      <input type='text' id='name_input' placeholder="Your city name"></input>
      <input type='button' id="submit_name" value='Search'></input>
      <tr>
        <td id="icon"></td>
      </tr>
      <p>
      <tr>
        <td>Country:</td>
        <td id="country"></td>
      </tr>
      <td>City:</td>
      <td id="name"></td>
    <tr>
    <tr>
      <td>Condition:</td>
      <td id="condition"></td>
    </tr>
    <tr>
      <td>Temperature:</td>
      <td id="retrieved_temperature"></td>
    </tr>
    <tr>
      <td>Wind Speed:</td>
      <td id="wind"></td>
    </tr>

  </table>
  <br>
  <div id="footer">
  <footer>
       © 2016 Thermostat by Andrew Htun, while at <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> | <a href="https://github.com/Htunny" target="_blank">GitHub</a> | <a href="https://htunnycodes.wordpress.com/" target="_blank">Blog</a> |
  </footer>
       </div>
</div>
</div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../src/thermostat.js"></script>
  <script src="../src/interface.js"></script>


</body>
</html>
