<html>
 <head>
   <meta charset="utf-8">
     <title> Thermostat 2.0 </title>
   </head>
  <body>
    <img src='http://icedtea.classpath.org/thermostat/img/thermostat_logo_450px.png'>
    <h2> Version 2.0 </h2>
  <p>
     Current temperature: <span id="current-temperature">degrees</span>
     <br>
      <button id="temperature-up">+</button>
      <button id="temperature-down">-</button>
      <button id="temperature-reset">reset</button>
     <br>
     <br>
      Power saving mode is <span id="power-saving-status">on</span>
      <br>
      <button id="powersaving-on">PSM on</button>
      <button id="powersaving-off">PSM off</button>
    </p>
  </section>
  <script src="js/thermostat.js"></script>
</body>
</html>
